body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    text-decoration: underline;
    background-color: #1D3557;
    color: #FFFFFF;
    text-align: center;
    margin-top: 5px;
}

h2 {
    background-color: #A8DADC;
    text-align: center;
}

p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.home-btn {
    color: white;
    /* margin: 10px; */
}

.container {
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: #E63946;
}

.card {
    background-color: #F1FAEE;
    padding: 20px;
    margin-top: 20px;
}

.card ol {
    padding-right: 20px;
}

.card ul {
    padding-right: 20px;
}